
:root {
    --green: #8dc53c;
    --black: #060709;
    --white: #fdfdfd;
    --light-gray: #e9ecef;
    --dark-gray: rgb(107,122,137);
}

body {
    font-family: 'Maven Pro', sans-serif;
}

/*--- Nav Section --- */

.steel-gradient {
    background: rgb(107,122,137);
    /* background: -moz-linear-gradient(left,  rgba(107,122,137,1) 9%, rgba(158,171,186,1) 49%, rgba(107,122,137,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(107,122,137,1) 9%,rgba(158,171,186,1) 49%,rgba(107,122,137,1) 100%);
    background: linear-gradient(to right,  rgba(107,122,137,1) 9%,rgba(158,171,186,1) 49%,rgba(107,122,137,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b7a89', endColorstr='#6b7a89',GradientType=1 ); */
}

#nav-logo {
    padding-left: 2rem;
    font-size: 2rem;
    color: var(--green);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
}

#nav-logo span {
    font-size: 5rem;
    font-weight: 800;
    text-transform: lowercase;
    font-family: 'Maven Pro', sans-serif;
}

.social {
    list-style-type: none;
}

.social li {
    padding: 0 1rem;
    font-size: 1.5rem;
}

.social__link:hover, .social__link:focus {
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.social a {
    color: black;
}

/*--- Jumbrotron Section --- */

.jumbo-img {
    border-radius: 2%;
}

.pour-logo {
    width: 250px;
    height: 250px;
}

.lead {
    text-align: center;
    line-height: 2rem;
}

/*--- Modal Section --- */
#modal-section {
    height: auto;
    padding: 2rem;
}

.modal-title {
    font-size: 3rem;
    text-transform: capitalize;
    font-family: 'Maven Pro', 'Montserrat', sans-serif;
}

.modal-img {
    width: 250px;
    height: 200px;
    -webkit-box-shadow: 5px 8px 10px -3px rgba(0,0,0,0.62);
    -moz-box-shadow: 5px 8px 10px -3px rgba(0,0,0,0.62);
    box-shadow: 5px 8px 10px -3px rgba(0,0,0,0.62);
    border: solid 5px var(--dark-gray);
    border-radius: 5px;
}

.snack-img {
    object-fit: cover;
}

.modal-btn {
    padding: .5rem;
    font-size: 1rem;
    background-color: var(--black);
    color: var(--green);
    font-weight: 700;
    border: solid 3px var(--black);
    border-radius: 5%;
    box-shadow: 0 20px 40px -10px rgba(6, 7, 9, 0.4);
}

.modal-btn:hover {
    background-color: var(--green);
    color: var(--black);
    font-size: 1.2rem;
}

.hh-title {
    font-family: 'Josefin', 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
    border-top: 2px solid var(--green);
    text-align: center;
    padding-top: 1rem;
    margin: 0;
}

.hh-description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
}

.menu-title {
    font-family: 'Josefin', 'Montserrat', sans-serif;
    text-transform: uppercase;
    border-top: 2px solid var(--green);
    font-weight: 700;
    padding-top: 1rem;
}

.menu-description {
    font-family: 'Montserrat', sans-serif;
    display: inline;
    margin: 0;
}

.menu-price {
    padding-left: 3rem;
    font-weight: 600;
}

/*--- Photo Gallery Section --- */

#photoGallery {
    background: var(--light-gray);
    
}

.carousel-item img {
    height: 700px;
    object-fit: contain;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: var(--black);
}

/*--- Color Styling --- */

