
:root {
    --green: #8dc53c;
    --black: #060709;
    --white: #fdfdfd;
    --light-gray: #e9ecef;
    --dark-gray: rgb(107,122,137);
}

body {
    font-family: 'Maven Pro', sans-serif;
}

/*--- Header Section --- */

.steel-gradient {
    background: rgb(107,122,137);
}

.img-logo {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.social {
    list-style-type: none;
    padding-left: 0;
}

.social li {
    padding: 0 1rem;
    font-size: 1.5rem;
}

.social__link:hover, .social__link:focus {
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.social a {
    color: black;
}

/*--- Nav Section --- */

nav {
    background-color: var(--black);
    font-size: 1.1rem;
}

.navbar-nav {
    flex-direction: row;
}

.nav-item {
    padding: 0 1rem;
}

.nav-item a {
    color: var(--green);
}

/*--- Jumbrotron Section --- */

.jumbo-img {
    border-radius: 2%;
}

.lead {
    text-align: center;
    line-height: 2rem;
}

/*--- Modal Section --- */
#modal-section {
    height: auto;
    padding: 2rem;
}

.modal-title {
    font-size: 3rem;
    text-transform: capitalize;
    font-family: 'Maven Pro', 'Montserrat', sans-serif;
}

.modal-img {
    width: 250px;
    height: 200px;
    -webkit-box-shadow: 5px 8px 10px -3px rgba(0,0,0,0.62);
    -moz-box-shadow: 5px 8px 10px -3px rgba(0,0,0,0.62);
    box-shadow: 5px 8px 10px -3px rgba(0,0,0,0.62);
    border: solid 5px var(--dark-gray);
    border-radius: 5px;
}

.snack-img {
    object-fit: cover;
}

.modal-btn {
    padding: .5rem;
    font-size: 1rem;
    background-color: var(--black);
    color: var(--green);
    font-weight: 700;
    border: solid 3px var(--black);
    border-radius: 5%;
    box-shadow: 0 20px 40px -10px rgba(6, 7, 9, 0.4);
}

.modal-btn:hover {
    background-color: var(--green);
    color: var(--black);
    font-size: 1.2rem;
}

.hh-title {
    font-family: 'Josefin', 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
    margin: 0;
}

.hh-description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
}

.menu-title {
    font-family: 'Josefin', 'Montserrat', sans-serif;
    text-transform: uppercase;
    border-top: 2px solid var(--green);
    font-weight: 700;
    padding-top: 1rem;
}

.menu-title:first-child {
    border-top: none;
}

.menu-description {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    margin: 0;
}

.menu-price {
    font-weight: 600;
    display: inline-block;
    margin: .8rem 0;
}

.modal-body, .modal-header {
    background-color: var(--black);
    color: var(--white);
}

.modal-lg {
    max-width: 90%;
}

.rotating {
    font-size: 1.4rem;
}

.close {
    font-size: 2.5rem;
    color: var(--white);
}

.close:hover {
    font-size: 3rem;
    color: var(--white);
}

/*--- Photo Gallery Section --- */

#photoGallery {
    background: var(--black);
}

.carousel-item img {
    height: 700px;
    object-fit: contain;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: var(--black);
}


/*--- Footer Section --- */

.phone {
    font-size: 1.7rem;
    color: var(--white);
}

.footer-text {
    font-size: 1.2rem;
}

footer {
    color: var(--white);
    position: relative;
}

footer .social {
    margin-top: 5rem;
}

footer .social a {
    color: var(--white);
}

.portfolio {
    position: absolute;
    right: 30px;
    bottom: 5px;
}

.portfolio a:hover {
    font-size: 1.1rem;
    color: blue;
}

.portfolio a {
    list-style: none;
    color: var(--white);
    
}

@media (max-width: 585px) {
    .portfolio {
        position: static;
    }
}


/* -------------------- Events Page -------------------- */

.events-container {
    width: 100%;
    margin: 0 auto;
    background-color: var(--light-gray);
}



/* -------------------- Shop Page -------------------- */

 .shop-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.shop-title {
    font-size: 3rem;
    padding: 2rem;
    font-weight: 700;
    text-transform: capitalize;
}



@media (max-width: 991.98px) { 
    .sm-center {
        margin: 1rem auto 0;
    }
 } 